@import '../colors';

.context-menu {
  position: absolute;
  
  background-color: $primaryDark;
  
  border: 1px solid $border;
  
  color: $textLight;
  font-size: 11px;
  
}

.context-menu-element {
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 8px;
  
}

.context-menu-element:hover {
  background-color: $hover;
  color: $textSelected;
}