@import '../colors';

.window-container {
  position: absolute;
  z-index: 2;
  border-radius: 4px;
  background-color: $primary;
  display: flex;
  flex-direction: column;
  border: 1px solid $borderDark;
  min-width: 110px;
  min-height: 100px; // todo! fix this later on

  width: 400px;
  height: 300px;

  resize: both;
  overflow: hidden;
}

.window-header {
  min-height: 27px;
  color: $secondary;

  white-space: nowrap;
  text-overflow:ellipsis;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
  padding-left: 16px;
  padding-right: 12px;
  
  .window-header-title {
    font-size: 12px;
    white-space: nowrap;
    text-overflow:ellipsis;
  }

  .window-header-x {
    font-size: 12px;
    white-space: nowrap;
    text-overflow:ellipsis;
  }
}

.console-logs {
  background-color: $primaryDark;
  flex-grow: 1;
  padding-left: 2px;
  border: 1px solid $borderDark;
  margin: 8px 16px 6px;
  overflow-y: scroll;
  
  .console-line {
    font-size: 11px;
    color: $text;
    word-break: break-word;
  }
}

.command {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 14px;
  margin-left: 16px;
  margin-right: 16px;
  .command-input {
    background-color: $input;
    border: 1px solid $borderDark;
    min-height: 24px;
    min-width: 4px;
    flex-grow: 1;
    color: $textLight;
    padding-left: 2px;
  }
  
  .command-input:focus {
    outline: none;
  }

}