$primary: #393532;
$primaryDark: #221F1C;
$primaryLight: #5A534A;

$secondary: #A39884;
$secondaryDark: #696153;

$borderLight: #8E8572;
$border: #49453D;
$borderDark: #403C33;

$input: #272422;

$text: #BEB6A3;
$textLight: #C9BDA3;
$textDark: #847A68;

$buttonText: #DEDEDE;
$buttonTextLight: #FFFFFF;

$textSelected: #000000;

$hover: #9D511B;
