
@import 'colors';

* {
  box-sizing: border-box;
  font-family: Tahoma, sans-serif;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing : none;
  margin: 0;
  padding: 0;
}

html, body {
  overflow: hidden
}

.app {
  background-color: $primary;
  height: 100vh;
  
  display: flex;
  flex-direction: column;
}

.title-bar {
  min-height: 38px;
  color: $text;
  font-size: 12px;
  padding-left: 16px;
  padding-right: 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-bar {
  min-height: 35px;
  min-width: 585px;
  display: flex;
}
.nav-buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 1px;
  position: relative;
  top: 1px;
  
  padding-left: 8px;
  padding-right: 8px;
}

.content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  border: solid 1px $border;
  padding-top: 7px;
  min-width: 650px;
  margin-left: 8px;
  margin-right: 8px;
}

.layout {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tab-button {
  padding-right: 20px;
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 4px;

  background-color: $secondary;
  color: $buttonText;
  border: 1px solid $borderLight;
}

.tab-button:active {
  color: $buttonTextLight;
  background-color: $primary;
  border: 1px solid $border;
  border-bottom: none;
  height: 27px;
}
.server-list {
  background-color: $primaryDark;
  min-height: 50px;
  border-top: 1px solid $borderDark;
  border-bottom: 1px solid $borderDark;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
}

.settings {
}

.tip-bar {
  min-height: 34px;
}
.top {
  min-height: 40px;
  min-width: 585px;
}
.top-settings {
  min-height: 36px;
  display: flex;
  align-items: center;
  padding-right: 4px;
}

.middle {
  min-height: 97px;
  max-height: 97px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: flex-start;
  flex-wrap: wrap;
  padding-top: 12px;
  padding-left: 15px;
  gap: 6px;
}

.bottom {
  min-height: 43px;
}
//change name
.drop-down {
  font-size: 12px;
  color: $textLight;
  margin-left: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;

}

select {
  margin-left: 10px;
  background-color: $input;
  color: $textLight;
  border: 1px solid $borderDark;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
  width: 110px;
  height: 24px;
  padding-left: 2px;
}
option {
  font-size: 12px;
}

.select-selected:after {
  position: relative;
  content: "";
  top: 10px;
  right: 13px;
  margin-top: -10px;
  margin-right: -13px;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-color: $textLight transparent transparent transparent;
}

.vertical-divider {
  height: 24px;
  border-right: 2px solid $border;
  padding-right: 6px;
}

.top-input {
  background-color: $input;
  border: 1px solid $borderDark;
  height: 24px;
  flex-grow: 1;
  margin-right: 7px;
  margin-left: 4px;
}

.button {
  background-color: $secondary;
  color: $primary;
  border: 1px solid $borderLight;
  padding-left: 10px;
  padding-right: 17px;
  height: 22px;
  text-align: left;
  
}

.horizontal-divider {
  margin-top: 2px;
  border: 1px solid $border;
  margin-left: 7px;
  margin-right: 4px;
}

.input {
  background-color: $input;
  border: 1px solid $borderDark;
  height: 24px;
  margin-left: 5px;
}

.checkbox {
  margin-right: 7px;
  width: 10px;
  height: 10px;
  background-color: $input;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.label {
  flex-grow: 1;
  font-size: 12px;
  color: $textLight;
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
}
.buttons {
  display: flex;
  gap: 1px;
  margin-right: 1px;
  min-width: 272px;
}

.base-heading {
  background-color: $secondary;
  font-weight: 100;
  color: $primary;
  border: 1px solid $borderLight;
}

.an-element {
  font-size: 11px;
  text-align: left;
  padding-left: 4px;
  text-overflow: ellipsis;
  min-width: 60px;
  display: inline;
}

.heading {
  @extend .base-heading;
  @extend .an-element;
}

.entry-heading {
  background-color: $primaryDark;
  font-weight: 100;
  color: $secondary;
  border: 1px solid $primaryDark;
}

.entry {
  @extend .entry-heading;
  @extend .an-element;
}

.an-icon {
  font-size: 12px;
  width: 15px;
}

.icon-heading {
  @extend .base-heading;
  @extend .an-icon;
}

.icon-entry {
  @extend .entry-heading;
  @extend .an-icon;
}

table {
  table-layout: fixed;
  width: 100%;
  border-spacing: 0;
}
tr {
  display: flex;
}
td:last-child {
  flex-grow: 1;
}

.dragger{
  cursor: col-resize;
  height: 100%;
  float: right;
  width: 8px;
  z-index: 1;
}
