
$primary: #393532;
$primaryDark: #221F1C;
$primaryLight: #5A534A;

$secondary: #A39884;
$secondaryDark: #696153;

$borderLight: #8E8572;
$border: #49453D;
$borderDark: #403C33;

$input: #272422;

$text: #BEB6A3;
$textLight: #C9BDA3;
$textDark: #847A68;

$buttonText: #DEDEDE;
$buttonTextLight: #FFFFFF;

$textSelected: #000000;

* {
  box-sizing: border-box;
  font-family: Tahoma, sans-serif;
  font-smooth: never;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing : none;
  margin: 0;
  padding: 0;
}

body {
  background-color: $primary;
  height: 100vh;
  
  display: flex;
  flex-direction: column;
}

.TitleBar {
  min-height: 38px;
  color: $text;
  font-size: 12px;
  padding-left: 16px;
  padding-right: 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.NavBar {
  min-height: 35px;
  min-width: 585px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.NavButtons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 1px;
  position: relative;
  top: 1px;
  
  padding-left: 8px;
  padding-right: 8px;
}

.Divider {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  border: solid 1px $border;
  padding-top: 7px;
  min-width: 650px;
  margin-left: 8px;
  margin-right: 8px;
}

.TabButton {
  padding-right: 20px;
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 4px;

  background-color: $secondary;
  color: $buttonText;
  border: 1px solid $borderLight;
}

.TabButton:active {
  color: $buttonTextLight;
  background-color: $primary;
  border: 1px solid $border;
  border-bottom: none;
  height: 27px;
}
.ServerList {
  background-color: $primaryDark;
  min-height: 50px;
  flex-grow: 1;
  border-top: 1px solid $borderDark;
  border-bottom: 1px solid $borderDark;
  overflow-x: auto;
  max-width: 100%;
}

.Settings {
}

.TipBar {
  min-height: 34px;
}
.Top {
  min-height: 40px;
  min-width: 585px;
}
.TopSettings {
  min-height: 36px;
  display: flex;
  align-items: center;
  padding-right: 4px;
}

.Middle {
  min-height: 97px;
  max-height: 97px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: flex-start;
  flex-wrap: wrap;
  padding-top: 12px;
  padding-left: 15px;
  gap: 6px;
}

.Bottom {
  min-height: 43px;
}

.DropDown {
  font-size: 12px;
  color: $textLight;
  margin-left: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;

}

select {
  margin-left: 10px;
  background-color: $input;
  color: $textLight;
  border: 1px solid $borderDark;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
  width: 110px;
  height: 24px;
  padding-left: 2px;
}
option {
  font-size: 12px;
  
}
.select-selected:after {
  position: relative;
  content: "";
  top: 10px;
  right: 13px;
  margin-top: -10px;
  margin-right: -13px;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-color: $textLight transparent transparent transparent;
}

.VerticalDivider {
  height: 24px;
  border-right: 2px solid $border;
  padding-right: 6px;
}

.TopInput {
  background-color: $input;
  border: 1px solid $borderDark;
  height: 24px;
  flex-grow: 1;
  margin-right: 7px;
  margin-left: 4px;
}

.Button {
  background-color: $secondary;
  color: $primary;
  border: 1px solid $borderLight;
  padding-left: 10px;
  padding-right: 17px;
  height: 22px;
  text-align: left;
  
}

.HorizontalDivider {
  margin-top: 2px;
  border-top: 2px solid $border;
  color: $border;
  margin-left: 7px;
  margin-right: 4px;
}

.Input {
  background-color: $input;
  border: 1px solid $borderDark;
  height: 24px;
  margin-left: 5px;
}

.Checkbox {
  margin-right: 7px;
  width: 10px;
  height: 10px;
  background-color: $input;
}

.Checkboxes {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.Bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Label {
  flex-grow: 1;
  font-size: 12px;
  color: $textLight;
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
}
.Buttons {
  display: flex;
  gap: 1px;
  margin-right: 1px;
  min-width: 272px;
}

.BaseHeading {
  background-color: $secondary;
  font-weight: 100;
  color: $primary;
  border: 1px solid $borderLight;
}

.AnElement {
  font-size: 11px;
  text-align: left;
  padding-left: 4px;
  text-overflow: ellipsis;
  min-width: 60px;
  display: inline;
}

.Heading {
  @extend .BaseHeading;
  @extend .AnElement;
}

.EntryHeading {
  background-color: $primaryDark;
  font-weight: 100;
  color: $secondary;
  border: 1px solid $primaryDark;
}

.Entry {
  @extend .EntryHeading;
  @extend .AnElement;
}

.AnIcon {
  font-size: 12px;
  width: 15px;
}

.IconHeading {
  @extend .BaseHeading;
  @extend .AnIcon;
}

.IconEntry {
  @extend .EntryHeading;
  @extend .AnIcon;
}

table {
  table-layout: fixed;
  width: 100%;
  border-spacing: 0;
}
tr {
  display: flex;
}
td:last-child {
  flex-grow: 1;
}

.Dragger{
  cursor: col-resize;
  height: 100%;
  float: right;
  width: 8px;
  z-index: 1;
}
