
@import '../colors';

.console-container {
  position: absolute;
  z-index: 9;
  border-radius: 4px;
  background-color: $primary;
  display: flex;
  flex-direction: column;
  border: 1px solid $borderDark;
  min-width: 110px;
  min-height: 100px; // todo! fix this later on

  width: 400px;
  height: 300px;

  resize: both;
  overflow: hidden;
}

.console-header {
  color: $secondary;
  width: 100%;
  padding-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 12px;

  .console-header-title {
    font-size: 16px;
  }

  .console-header-x {
    font-size: 16px;
    float: right;
  }
}

.console-bottom {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 10px;
  padding-right: 14px;
}

.console-logs {
  background-color: $primaryDark;
  width: 100%;
  height: 100%;
  padding-left: 2px;
  border: 1px solid $borderDark;
  margin-bottom: 6px;

  .console-line {
    font-size: 9px;
    color: $text;
  }
}

.console-controls {
  width: 100%;
  display: flex;
  margin-bottom: 8px;

  .command-input {
    background-color: $input;
    border: 1px solid $borderDark;
    height: 24px;
    min-width: 4px;
    flex-grow: 1;
  }

  .command-submit {
    min-width: 60px;
    margin-left: 10px;
  }
}
